@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Epi Server Order Plugin</title>
</head>
<body>
    <div>
        <h3>Welcome To Order Plugin</h3>
    </div>
</body>
</html>
