<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" viewEngine="Razor">
    <assemblies>
        <add assembly="Dc.EpiServerOrderPlugin" />
    </assemblies>
    <routes>
        <!-- removes the Swap prefix from our controller when resolving the controller -->
        <!-- see https://world.episerver.com/documentation/developer-guides/CMS/configuration/Configuring-moduleconfig/ -->
        <route controllerPrefix="Dc">
            <defaults>
                <add key="controller" value="OrderPlugin" />
                <add key="action" value="Index" />
                <add key="id" value="" />
            </defaults>
        </route>
    </routes>
    <clientResources>
    </clientResources>
    <dojo>
        <packages>
        </packages>
        <aliases>
        </aliases>
    </dojo>
</module>